<head>
  <meta charset="utf-8">
  <title>Show Time</title>
  
  <!-- ============= FONTS ============= -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&display=swap" rel="stylesheet">  
  <!-- ============= STYLES ============= -->
  <link rel="stylesheet" href="css/styles.css">
</head>