<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <h1>Show Time!</h1>
  <h2>Your show database</h2>
  <p>Here you can log and keep up with your favorite shows! :D</p>
</body>
</html>