<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <h1>Show Time!</h1>
  <h2>Keep track of your favorite shows</h2>

  <button><a href="/shows/new">Add a New Show</a></button>
  <button><a href="/shows">My shows</a></button>
</body>
</html>