<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <div class='menu'>
  <h1>Show Time!</h1>
  <button><a href="/shows/new">Add a New Show</a></button>
  <button><a href="/shows">My shows</a></button>
  </div>
 
  <div class='media'>
  <img src='https://i.imgur.com/jBuQBVg.jpg'>
  <img src='https://i.imgur.com/8LWAoDq.jpg'>
  <img src='https://i.imgur.com/63Tyw8x.jpg'>  
  </div>
  
  <h2>Keep track of your favorite shows</h2>

  
</body>
</html>