<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

  <body>
    <nav>
      <h1>tely</h1>
      <a href='/'>back to homepage</a>
    </nav>

    <div class="title">
      <h2>my shows</h2>
      
    </div>

    <ul class="show-list" style="list-style:none">
      <% shows.forEach(show=> { %>
        <li style="margin-bottom: 1rem;">
          <a href="/shows/<%= show._id %>">
            <%=show.title %>
          </a>
          <form action="/shows/<%= show.id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete" />
          </form>
        </li>
        <% }) %>
    </ul>
  </body>

</html>