<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

	<body>
		<nav>
		<h1>Add a New Show</h1>
		<a href='/'>home</a>
		<a href='/shows'>my shows</a>
		</nav>
		
		<form class='info-changes' action="/shows" method="POST">
			Title: <input type="text" name="title" /><br />
			Year Released: <input type="text" name="yearReleased" /><br />
			Starring: <input type="text" name="starring" /><br />
			<input type="submit" name="" value="Add Show" />
		</form>
	</body>

</html>