<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

	<body>
		<h1>Add a New Show</h1>
		<button><a href='/home'>back to homepage</a></button>
		<form action="/shows" method="POST">
			Title: <input type="text" name="title" /><br />
			Year Released: <input type="text" name="yearReleased" /><br />
			Starring: <input type="text" name="starring" /><br />
			<input type="submit" name="" value="Add Show" />
		</form>
	</body>
	</body>

</html>