<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

	<body>
		<nav>
		<h1>Add a New Title</h1>
		<a href='/'>home</a>
		<a href='/shows'>my list</a>
		</nav>
		
		<form class='info-changes' action="/shows" method="POST">
			Title: <input type="text" name="title" /><br />
			Rating: <input type="text" name="rating" placeholder="rating between 1-5">
			<input type="submit" name="" value="Add Show" />
		</form>
	</body>

</html>