<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

  <body>
    <button><a href='/'>back to homepage</a></button>
    <ul>
      <h1>
        <%= show.title %>
      </h1>
      <li>Year Released: <%= show.yearReleased %>
      </li>
      <li>Starring: <%= show.starring %>
      </li>
    </ul>
  </body>

</html>