body {
  background-color: #fff0d9;
  font-family: 'Readex Pro', sans-serif;
  color: #33240d;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

button {
  background-color: #ffaa69;
  border-radius: 2em;
}

img{
  border: 1px solid #ddd;
  border-radius: 14px;
  float: left; 
  width: 11em;
  height: 14em; 
  object-fit: fill;
}

.media {
  display: flex;
  justify-content: space-evenly;
}

