body {
  background-color: #fffde7;
  font-family: 'Readex Pro', sans-serif;
  color:#ec0b19;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

button {
  background-color: #189BA3;
  border-radius: 2px;
}

img{
  border: 1px solid #ddd;
  border-radius: 4px;
  float: left; 
  width: 11em;
  height: 14em; 
  object-fit: fill;
}

.media {
  display: flex;
  justify-content: space-evenly;
}

